<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}

{% if user.is_authenticated %}

    <h1>
Bienvenido al CRM de MTM
    </h1>

    <table class="table table-striped table-hover table-bordered">
        <thead class="table-dark">
        <tr>
            <th scope="col">Nombre completo</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Región</th>
            <th scope="col">Creado el:</th>
            <th scope="col">Email</th>
            <th scope="col">ID</th>
        </tr>
        </thead>
            {% if records %}
                {% for record in records %}
                    <tr>
                    <td>{{ record.first_name }}
                    {{ record.last_name }}</td>
                        <td>{{ record.city }}</td>
                        <td>{{ record.state }}</td>
                        <td>{{ record.created_at }}</td>
                        <td>{{ record.email }}</td>
                        <td><a href="{% url 'record' record.id %}">{{ record.id }}</a></td>
                    <br/><br/>
                    </tr>
                {% endfor %}
            {% endif %}
    </table>

    <button class="btn btn-primary btn-danger">
        <a href="{% url 'add' %}">Agregar un registro de forma manual</a>
    </button>
    <button class="btn-primary btn btn-light">
    <a href="{% url 'excel_upload' %}">Ir a carga de archivos Excel manuales</a>
    </button>

    {% else %}

    <h3> Inicio de sesión en el CRM</h3>
<form method='POST' action="{% url 'home' %}" >
    {% csrf_token %}
        <div class="mb-3">
            <input type="text" class="form-control" name="username" placeholder="Nombre de Usuario" required>
        </div>
        <div class="mb-3">
            <input type="password" required class="form-control" id="exampleInputPassword1" name="password" placeholder="Contraseña">
        </div>
        <button type="submit" class="btn btn-primary">Conectarse</button>
        <button type="click" class="btn btn-primary"><a style="color: white; text-underline-style: none" href={% url 'register' %}>Registrarse</a></button>
</form>
    {% endif %}
    {% endblock content %}
</body>
</html>
